html {
    scroll-behavior: smooth;
    font-size: 40px;
}
p {
   font-size: 0.8rem;
   text-indent: 1em;
}
.article {
    font-size: 30px;
}
#members {
    font-weight: bold;
}
#awards {
    font-style: italic;
}
#style {
    text-decoration: underline;
}
#history {
    text-align: end;
    cursor: grab;
}